
.flex {
  display: flex;
  &.evenly{
    justify-content: space-evenly;
  }
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.center {
    align-items: center;;
}

.flex > * {
  width: 33%;
}

@media screen and (max-width: 768px) {
  .flex > * {
    width: 50%;
  }
}

@media screen and (max-width: 499px) {
  .flex > * {
    width: 100%;
  }
}

.margin-sm {
    margin: 2px;
}

.no-list {
  list-style: none;
}

section.game ul > li {
    margin: 1em;
}

section.game ul li div {
    display: flex;
}

@media only screen and (max-width: 768px) {

  body {
      background-color: #9933cc
  }

  header {
      color: #ffffff;
      padding: 15px;
    }

  h1 {
      align-items: center;
      display: flex;
      justify-content: center;
  }

  h2 {
      color: #ecb7c0;
      align-items: center;
      display: flex;
      justify-content: center;
  }

  main {
      background-color: #ffffff;
      border-radius: 40px;
      height: auto;
      width: auto;
      padding: 5px;
  }

  p {
      font-size: 14px;
      padding: 15px;
      line-height: 30px;
  }
}

html {
  background: linear-gradient(45deg, #98ce55, #6b9b84);
  height: 100vh;
  background-attachment: fixed;
}

header {
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
}

main {
  display: grid;
  justify-content: center;
  color: #551a8b;
  text-align: center;
}

form {
  display: grid;
  justify-items: end;
}

footer {
  text-align: center;
  margin: 1em;
}
