.flex {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
  &.center {
    align-items: center;
  }
  & > * {
    width: 33%;
    @media screen and (max-width: 768px) {
      width: 50%;
    }
    @media screen and (max-width: 489px) {
      width: 100%;
    }
  }
}
.margin {
  &-sm {
    margin: 2px;
  }
}
section.game {
  & ul > li {
    margin: 1em;
  }
  & ul li div {
    display: flex;
  }
}
.no-list {
  list-style: none;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: #9933cc;
  }

  header {
    color: #ffffff;
    padding: 15px;
  }

  h1 {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  h2 {
    color: #ecb7c0;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  main {
    background-color: #ffffff;
    border-radius: 40px;
    height: auto;
    width: auto;
    padding: 5px;
  }

  p {
    font-size: 14px;
    padding: 15px;
    line-height: 30px;
  }
}
